body {
    background-image: url(../../img/58d6e14c-f96f-4846-b9fa-26f459dd02cd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



div{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.74);
}

iframe{
    display: block;
    margin: 0 auto;
  }
  .foto:hover {
    opacity: 1;
    border: solid black 2px;
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  .gridSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "topTitle"
   "aside1"
   "aside2"
   "aside3"
   "aside4"
   "aside5"
   "aside6"
   "aside7"
   "aside8"
   "aside9"
   "aside10";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: rem;
  }
  
  .gridSection .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: topTitle;
  }
  
  .gridSection .aside1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside1;
    width: 100%;
  }
  
  .gridSection .aside2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside2;
    width: 100%;
  }
  
  .gridSection .aside3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: aside3;
    width: 100%;
  }
  
  .gridSection .aside4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: aside4;
    width: 100%;
  }
  
  .gridSection .aside5 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: aside5;
    width: 100%;
  }
  
  .gridSection .aside6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: aside6;
    width: 100%;
  }
  
  .gridSection .aside7 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: aside7;
    width: 100%;
  }
  
  .gridSection .aside8 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: aside8;
    width: 100%;
  }
  
  .gridSection .aside9 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: aside9;
    width: 100%;
  }
  
  .gridSection .aside10 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: aside10;
    width: 100%;
  }

.form-item {
    background-color: black;
    border: 2px solid red;
    color: red;
    padding: 10px;
    border-radius: 3px;
}

.form-item:hover {
    background-color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: 35px auto 5px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-item input {
    background-color: black;
    border: 1px solid rgb(255, 115, 0);
    color: orange;
    padding: 10px;
    border-radius: 3px;
}

.form-item input:hover {
    background-color: rgb(19, 19, 19);
}

.cortes {
    color: white;
}