footer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 5px;
}

footer a img{padding: 10px;}
h6 {
    color: white;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15px;
    background-color: rgba(216, 15, 15, 0.671);
    width: 320px;
}
footer {
    margin-top: 10%;
}