@media only screen and (max-width: 600px){
    header {
        color: white;
        background-color: rgba(255, 0, 0, 0.692);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        height: 82px;
        padding: 10px;
    }
    
    li a {
        text-decoration: none;
        color: red;
        text-align: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    li a:hover {
        color: white;
    }
    
    nav {
        display: flex;
        background-color: rgba(0, 0, 0, 0.719);
        width: 100%;
        list-style: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    ul li{
        display: inline-block;
        width: 20%;
        position: relative;
        font-size: 20px;
        margin-left: 5%;
    }
    
    li a:hover {
        color: white;
    }
    
    .logo {
        width: 50px;
        height: 62px;
    }
    h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
        background-color: rgba(0, 0, 0, 0.658);
    }
    
    h3 {
        font-size: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.658);
    }
    
    h4 {
        margin-top: 10%;
        text-align: center;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.658);
    }
    
    h5 {
        text-align: center;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.658);
    }
    footer a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(255, 255, 255);
        padding: 5px;
    }
    
    footer a img{padding: 10px;}
    h6 {
        color: white;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 15px;
        background-color: rgba(216, 15, 15, 0.671);
        width: 320px;
    }
    footer {
        margin-top: 10%;
    }
}
@media only screen and (min-width: 601px){
    header {
        color: white;
        background-color: rgba(255, 0, 0, 0.692);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        height: 82px;
        padding: 10px;
    }
    .logo {
        width: 60px;
        height: 72px;
    }
    ul li{
        display: inline-block;
        width: 20%;
        position: relative;
        font-size: 20px;
        margin-left: 5%;
    }
    
    li a:hover {
        color: white;
    }
}
